.restaurant-list__wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 40px 0;
}

.restaurants-list__tabs {
  display: flex;
  gap: 14px;
  border-bottom: 1px solid #e8e8e8;
}

.restaurants-list__tab-button {
  padding: 8px 0 14px 0;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}

.restaurants-list__tab-button--active {
  color: black;
  border-bottom: 2px solid rgb(68, 177, 68);
}

.restaurants__list-block {
  box-shadow: 0 0 16px 4px rgba(34, 60, 80, .2);
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  margin-top: 24px;
}
