:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h3 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.restaurants__list-block {
  border: 1px solid;
  margin-bottom: 52px;
}

ul.restaurants__list {
  width: 500px;
  padding: 0;
}

.menu__list {
  width: 300px;
  margin: 0 auto;
  border: 1px solid;
  padding: 24px;
}

.reviews__list {
  width: 300px;
  margin: 0 auto;
  border: 1px solid;
  padding: 24px;
  margin-bottom: 52px;
}

.reviews__list-block {
  padding: 0;
}

.review__block {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.reviews__list-block {
  padding: 16px 0 0 0;
}

.menu__list-block {
  padding: 16px 0 0 0;
}