.review__form {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 24px;
}

.review__form-item--input {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    height: 48px;
    outline: none;
    padding: 10px 16px 10px 16px;
    width: 100%;
}

.review__form-item--textarea {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 10px 16px 10px 16px;
    width: 100%;
    resize: none;
    height: 100px;
}

.review__form-item {
    margin-bottom: 12px;
}

.review__form-rating {
    display: flex;
}

.review__form-button-clear {
    align-items: center;
    background: #82c814;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    outline: none;
    padding: 12px 16px;
    text-decoration: none;
    user-select: none;
}