.reviewForm {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 24px;
}

.inputForm {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    height: 48px;
    outline: none;
    padding: 10px 16px 10px 16px;
    width: 100%;
}

.textareaForm {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 10px 16px 10px 16px;
    width: 100%;
    resize: none;
    height: 100px;
}

.reviewWrapper {
    margin-bottom: 12px;
}

.ratingWrap {
    display: flex;
}