.button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  border-radius: 6px;
}

.primary {
  background: #4caf50;
  color: white;
}

.outline {
  background: transparent;
  color: #4caf50;
  border: 2px solid #4caf50;
}

.danger {
  background: #d9534f;
  color: white;
}

.s {
  padding: 6px 12px;
  font-size: 14px;
}

.m {
  padding: 10px 16px;
  font-size: 16px;
}

.l {
  padding: 14px 20px;
  font-size: 18px;
}
