.reviewsList {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 24px;
}

.reviewsListBlock {
  padding: 0;
}

.reviewBlock {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.reviews__list-block {
  padding: 16px 0 0 0;
}

.review__block-text {
  width: 300px;
}