.reviews__list {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 24px;
}

.reviews__list-block {
  padding: 0;
}

.review__block {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.reviews__list-block {
  padding: 16px 0 0 0;
}

.review__block-text {
  width: 300px;
}